<div class="blogs-section">
  {% if section.settings.heading != blank %}
    <h3 class="title">{{ section.settings.heading }}</h3>
  {% endif %}

  {% if section.settings.content != blank %}
    <div class="content">{{ section.settings.content }}</div>
  {% endif %}

  <div class="blogs-section__list" style="--grid-count:{{ section.settings.blog_per_count }};">
    {% for block in section.blocks %}
      <div class="blogs-section__item">
        {% assign article = articles[block.settings.article] %}
        {% assign image = block.settings.image | default: article.image %}
        {% assign heading = block.settings.heading | default: article.title %}
        {% assign type = block.settings.type %}
        {% assign link = block.settings.link | default: article.url %}

        {% if link != blank %}
          <a href="{{ link }}" {% if block.settings.new_tab %}target="_blank"{% endif %}>
        {% endif %}
          <img src="{{ image | img_url: '600x600' }}" alt="{{ heading }}"/>
          {% if type != blank %}
            <span class="type">{{ type }}</span>
          {% endif %}
          {% if heading != blank %}
            <span class="title">{{ heading }}</span>
          {% endif %}
        {% if link != blank %}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Blogs",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "range",
      "id": "blog_per_count",
      "label": "Blog per count",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "blog_item",
      "name": "Blog item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "type",
          "label": "Blog type"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Link new tab",
          "default": true
        },
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blogs"
    }
  ]
}
{% endschema %}